# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
*.iml
.idea/
.vscode/
**/ios/Pods/
**/android/.gradle/
**/android/local.properties
**/macos/Flutter/ephemeral/
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/
pubspec.lock
